In [1]:
import sagemaker
import boto3
import sys
import pandas as pd
import numpy as np 
import io 
from sagemaker.session import Session
from sagemaker import get_execution_role

In [2]:
prefix = "aws-mlops-sagemaker"
role = get_execution_role()

sagemaker_session = Session() 
region = sagemaker_session.boto_region_name
s3_bucket_name = sagemaker_session.default_bucket()

In [3]:
region

'us-west-2'

In [4]:
s3_bucket_name

'sagemaker-us-west-2-975050337104'

In [5]:
role

'arn:aws:iam::975050337104:role/service-role/AmazonSageMaker-ExecutionRole-20250401T145569'

In [6]:
# Data 
customer_data = pd.read_csv("transformed/customers.csv") 
orders_data = pd.read_csv("transformed/orders.csv")

In [7]:
customer_data.head()

   Unnamed: 0 customer_id  sex  ...  age_60-69 age_70-plus  n_days_active
0           0          C1    0  ...          0           1       0.203425
1           1          C2    1  ...          0           1       0.859589
2           2          C3    1  ...          0           0       0.527397
3           3          C4    1  ...          1           0       0.780822
4           4          C5    1  ...          1           0       0.691096

[5 rows x 12 columns]

In [8]:
orders_data.head()

  order_id customer_id  ...                event_time  n_days_since_last_purchase
0       O1       C9765  ...  2024-05-02T05:39:17.172Z                    0.273256
1       O2       C3674  ...  2024-05-02T05:39:17.172Z                    0.846899
2       O3       C2139  ...  2024-05-02T05:39:17.172Z                    0.408915
3       O4       C7794  ...  2024-05-02T05:39:17.172Z                    0.843023
4       O5       C2229  ...  2024-05-02T05:39:17.172Z                    0.265504

[5 rows x 7 columns]

In [9]:
# Create feature group
from time import gmtime, strftime, sleep

customers_feature_group_name = "customers-fg-"+strftime("%d-%H-%M-%S", gmtime()) 
orders_feature_group_name = "orders-fg-"+strftime("%d-%H-%M-%S", gmtime())

In [10]:
customers_feature_group_name

'customers-fg-02-04-47-05'

In [11]:
orders_feature_group_name

'orders-fg-02-04-47-05'

In [12]:
from sagemaker.feature_store.feature_group import FeatureGroup

customers_feature_group = FeatureGroup(name=customers_feature_group_name , 
                                       sagemaker_session = sagemaker_session)

orders_feature_group = FeatureGroup(name=orders_feature_group_name , 
                                       sagemaker_session = sagemaker_session)

In [13]:
record_identifier_feature_name = "customer_id"

In [14]:
orders_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 7 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   order_id                    100000 non-null  object
 1   customer_id                 100000 non-null  object
 2   product_id                  100000 non-null  object
 3   purchase_amount             100000 non-null  float64
 4   is_reordered                100000 non-null  int64
 5   event_time                  100000 non-null  object
 6   n_days_since_last_purchase  100000 non-null  float64
dtypes: float64(2), int64(1), object(4)
memory usage: 5.3+ MB

In [15]:
customers_feature_group.load_feature_definitions(data_frame = customer_data)

[FeatureDefinition(feature_name='Unnamed: 0', feature_type=<FeatureTypeEnum.INTEGRAL: 'Integral'>, collection_type=None),
 FeatureDefinition(feature_name='customer_id', feature_type=<FeatureTypeEnum.STRING: 'String'>, collection_type=None),
 FeatureDefinition(feature_name='sex', feature_type=<FeatureTypeEnum.INTEGRAL: 'Integral'>, collection_type=None),
 FeatureDefinition(feature_name='is_married', feature_type=<FeatureTypeEnum.INTEGRAL: 'Integral'>, collection_type=None),
 FeatureDefinition(feature_name='event_time', feature_type=<FeatureTypeEnum.STRING: 'String'>, collection_type=None),
 FeatureDefinition(feature_name='age_18-29', feature_type=<FeatureTypeEnum.INTEGRAL: 'Integral'>, collection_type=None),
 FeatureDefinition(feature_name='age_30-39', feature_type=<FeatureTypeEnum.INTEGRAL: 'Integral'>, collection_type=None),
 FeatureDefinition(feature_name='age_40-49', feature_type=<FeatureTypeEnum.INTEGRAL: 'Integral'>, collection_type=None),
 FeatureDefinition(feature_name='age_50-59', feature_type=<FeatureTypeEnum.INTEGRAL: 'Integral'>, collection_type=None),
 FeatureDefinition(feature_name='age_60-69', feature_type=<FeatureTypeEnum.INTEGRAL: 'Integral'>, collection_type=None),
 FeatureDefinition(feature_name='age_70-plus', feature_type=<FeatureTypeEnum.INTEGRAL: 'Integral'>, collection_type=None),
 FeatureDefinition(feature_name='n_days_active', feature_type=<FeatureTypeEnum.FRACTIONAL: 'Fractional'>, collection_type=None)]

In [19]:
# Load Feature definitions
orders_feature_group.load_feature_definitions(data_frame = orders_data)

[FeatureDefinition(feature_name='order_id', feature_type=<FeatureTypeEnum.STRING: 'String'>, collection_type=None),
 FeatureDefinition(feature_name='customer_id', feature_type=<FeatureTypeEnum.STRING: 'String'>, collection_type=None),
 FeatureDefinition(feature_name='product_id', feature_type=<FeatureTypeEnum.STRING: 'String'>, collection_type=None),
 FeatureDefinition(feature_name='purchase_amount', feature_type=<FeatureTypeEnum.FRACTIONAL: 'Fractional'>, collection_type=None),
 FeatureDefinition(feature_name='is_reordered', feature_type=<FeatureTypeEnum.INTEGRAL: 'Integral'>, collection_type=None),
 FeatureDefinition(feature_name='event_time', feature_type=<FeatureTypeEnum.STRING: 'String'>, collection_type=None),
 FeatureDefinition(feature_name='n_days_since_last_purchase', feature_type=<FeatureTypeEnum.FRACTIONAL: 'Fractional'>, collection_type=None)]

In [18]:
customers_feature_group.create(s3_uri = f"s3://{s3_bucket_name}/{prefix}",
                               record_identifier_name=record_identifier_feature_name, event_time_feature_name="event_time",
                                role_arn=role,
                                enable_online_store=True)

ClientError: An error occurred (ValidationException) when calling the CreateFeatureGroup operation: 1 validation error detected: Value 'Unnamed: 0' at 'featureDefinitions.1.member.featureName' failed to satisfy constraint: Member must satisfy regular expression pattern: ^[a-zA-Z0-9]([-_]*[a-zA-Z0-9]){0,63}